<% data = recommendations[:data] if recommendations.is_a?(Hash) %>
<% if data.present? %>
  <div class="recommendation_table_container overflow-x-auto rounded-lg shadow h-[370px] overflow-y-auto">
    <table class="min-w-full divide-y divide-gray-200 bg-white">
      <thead class="bg-gray-100 sticky top-0 z-50">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">ID</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Material Number</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Name</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Score</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Total purchases</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      <% data.each do |item| %>
        <tr class="hover:bg-gray-50 cursor-pointer" onclick="window.location='<%= admin_variant_path(item[:id]) %>'">
          <td class="px-4 py-2 text-sm text-gray-800"><%= item[:id] %></td>
          <td class="px-4 py-2 text-sm text-gray-800"><%= item[:attributes][:material_number] %></td>
          <td class="px-4 py-2 text-sm text-gray-800"><%= item[:attributes][:name] %></td>
          <td class="px-4 py-2 text-sm text-gray-800"><%= item[:attributes][:score] %></td>
          <td class="px-4 py-2 text-sm text-gray-800"><%= item[:attributes][:total_purchased] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No recommendations found.</p>
<% end %>
