<h3 class="text-xl font-semibold mb-4">Top Picks</h3>

<% recommendations = @recommendations.is_a?(Hash) ? @recommendations[:data] : @recommendations %>

<% if recommendations.present? %>
    <div class="recommendation_table_container overflow-x-auto rounded-lg shadow h-[370px] overflow-y-auto">
      <table class="min-w-full divide-y divide-gray-200 bg-white">
        <thead class="bg-gray-100 sticky top-0 z-50">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">ID</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Material Number</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Name</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Score</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Total purchases</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        <% recommendations.each do |item| %>
          <% attrs = item[:attributes] || {} %>
          <tr class="hover:bg-gray-50 cursor-pointer" onclick="window.location='<%= admin_variant_path(item[:id]) %>'">
            <td class="px-4 py-2 text-sm text-gray-800"><%= item[:id] %></td>
            <td class="px-4 py-2 text-sm text-gray-800"><%= attrs[:material_number] %></td>
            <td class="px-4 py-2 text-sm text-gray-800"><%= attrs[:name] %></td>
            <td class="px-4 py-2 text-sm text-gray-800"><%= attrs[:score] %></td>
            <td class="px-4 py-2 text-sm text-gray-800"><%= attrs[:total_purchased].presence || "–" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% else %>
  <p class="text-gray-500 italic">No recommendation results.</p>
<% end %>

<br>

<div class="w-28">
  <%= link_to "← Get back", admin_recommendations_path,
              class: "inline-flex items-center text-blue-600 no-underline
         px-3 py-1 rounded transition duration-150 ease-in-out hover:bg-blue-50" %>
</div>
