<% content_for :layout, "auth" %>

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3 class="text-2xl font-semibold text-center text-[#ef6b38] mb-6">Recomagic</h3>

      <% if flash[:alert] %>
        <div class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="mb-4">
        <%= f.label :email, class: "font-semibold block text-sm font-medium text-[#ef6b38] mb-1" %>
        <%= f.email_field :email,
                          placeholder: "Email",
                          autofocus: true,
                          autocomplete: "email",
                          class: "w-full italic px-3 py-2 border border-gray-300 rounded-lg
          focus:outline-none focus:ring-0 focus:border-orange-500"
        %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "font-semibold block text-sm font-medium text-[#ef6b38] mb-1" %>
        <div class="relative">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "w-full
          italic px-3 py-2 border border-gray-300 rounded-lg
          focus:outline-none focus:ring-0 focus:border-orange-500", id: "password-field" %>
          <i class="fa-solid fa-eye-slash absolute right-3 top-3 text-gray-400 cursor-pointer toggle-password" data-target="password-field"></i>
        </div>
      </div>

      <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-orange-600 focus:ring-orange-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-700" %>
        </div>
        <div>
          <%= render "admin_users/shared/links" %>
        </div>
      </div>

      <%= f.submit "Login", class: "w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-200" %>
    <% end %>
  </div>
</div>
